@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

/* --used for X and O sizing-- */
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("https://data.whicdn.com/images/335179342/original.jpg");
  background-size: cover;
}

.board {
  position: fixed;
  width: 100vw;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(53, 52, 52);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell.x,
.cell.O {
  cursor: not-allowed;
}

/* --REMOVE OUTER BORDER START-- */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}
/* --REMOVE OUTER BORDER END */

/* --X START-- */
.cell.x::before,
.cell.x::after {
  background-color: rgb(255, 243, 136);
}
.board.x .cell:not(.x):not(.O):hover::before,
.board.x .cell:not(.x):not(.O):hover::after {
  background-color: rgb(255, 212, 248);
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.O):hover::before,
.board.x .cell:not(.x):not(.O):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.O):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.O):hover::after {
  transform: rotate(-45deg);
}
/* --X END-- */

/* --CIRCLE START-- */
.cell.O::before {
  background-color: rgb(255, 111, 67);
}
.board.O .cell:not(.x):not(.O):hover::before,
.board.O .cell:not(.x):not(.O):hover::after {
  background-color: rgb(255, 192, 109);
}

.cell.O::before,
.cell.O::after,
.board.O .cell:not(.x):not(.O):hover::before,
.board.O .cell:not(.x):not(.O):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.cell.O::before,
.board.O .cell:not(.x):not(.O):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.O::after,
.board.O .cell:not(.x):not(.O):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: rgb(255, 111, 67);
}
/* --CIRCLE END-- */

/* --WINNING MESSAGE START-- */
.winning-message {
  display: flex;
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  transition: all 0.4s ease;
}

#playerWon {
    background-size: 100%;
    color: rgb(27, 25, 25);
    padding: 20px;
    font-family: verdana;
    margin: 3vh;
    font-weight: bolder;
    text-align: center;
    font-size: 5rem;
    text-shadow: 1px 1px 1px #d6d6d6,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}
.winning-message button {
    background-color: rgb(27, 25, 25);
    padding: 20px;
    color: #ff8f4f;
    font-family: verdana;
    margin: 3vh;
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #d6d6d6,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}
.winning-message button:hover {
  transform: scale(1.05);
}
.winning-message button:active {
  transform: scale(0.9);
}
.winning-message.show {
  top: 0;
}
.winningContainer {
  display: flex;
  position: absolute;
  top: 0;
  width: 600px;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(211, 77, 14);
}

/* --WINNING MESSAGE END-- */

#tictactoe {
    background-color: rgb(27, 25, 25);
    padding: 20px;
    color: #ff8f4f;
    font-family: verdana;
    margin: 3vh;
    font-weight: bolder;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 1vw;
    text-shadow: 1px 1px 1px #d6d6d6,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}

.selectFirstPlayer {
  background-color: rgb(150, 79, 32);
  background-image: url("https://www.iliketowastemytime.com/sites/default/files/imagecache/blog_image/night-launch-shuttle-art-vladstudio-hd-wallpaper.jpg");
  background-blend-mode:soft-light;
  background-size: cover;
  position: absolute;
  top: -1000px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
}
#selectPlayer {
    background-color: rgb(27, 25, 25);
    width:fit-content;
    padding: 25px;
    color: #ff8f4f;
    font-family: verdana;
    margin: 3vh;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
   
}
.selectplayerContainer {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  margin: auto;
 
  padding: 3rem;
}
#playerChoice {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.selectFirstPlayer button {
  font-size: 3rem;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
  transition: all 0.2s ease;
}
.selectFirstPlayer button:hover {
  transform: scale(1.05);
}
.selectFirstPlayer button:active {
  transform: scale(0.9);
}
.selectFirstPlayer.show {
  top: 0;
}
.selectFirstPlayer button img {
  width: 200px;
}

#playerX{
    color: white;
    font-weight: bold;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkkv6wTT4QloGXKl1ogvSaqv2pNotnW5VNaQ&usqp=CAU");
    background-position: center;
    border-radius: 50%;
    padding: 45px;
}

#playerO{
    color: white;
    font-weight: bold;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkkv6wTT4QloGXKl1ogvSaqv2pNotnW5VNaQ&usqp=CAU");
    background-position: center;
    border-radius: 50%;
    padding: 45px;
}

.navigation {
    justify-content: space-around;
  width: 100vw;
  display: none;
  margin: 1rem auto;
  z-index: 8;
}
.navigation button {
    background-color: rgb(27, 25, 25);
    padding: 20px;
    color: #ff8f4f;
    font-family: verdana;
    margin: 6vh;
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1vw;
    text-shadow: 1px 1px 1px #d6d6d6,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}
.navigation button:hover {
  transform: scale(1.05);
}
.navigation button:active {
  transform: scale(0.9);
}

.navigation.show {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .navigation {
    width: 100vw;
    transform: scale(0.6);
  }
  .selectplayerContainer,
  .winningContainer {
    transform: scale(0.7);
    position: absolute;
    /* top: -150px; */
    height: 900px;
  }
}