*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: default;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #131419;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(231, 196, 79) 50%, rgb(255, 136, 0) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

.choosePlayer{
    background-color: rgba(184, 62, 6, 0.952);
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj-YS6k1hXng_yWwsoV-YlufmiCNP3LY7Q6KaI_LUpvx2M4pEb1lNlhYKwZif3AxOOAHw&usqp=CAU);
    background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
    color: rgb(228, 134, 58);
    font-size: 5rem;
    width: 100%;
    min-height: 100%;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
    display: flex;
    z-index: 2;
}

.choosePlayer >h1 {
    color: rgba(255, 255, 255, 0.753);
    font-size: 50px;
    word-spacing: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px #919191,
         1px 2px 1px #000000,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
        
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}

.choose-player{
    font-size: 5rem;
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    height: auto;
    width: 30%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}



.choose{
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}

#playerX{
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #ff9823d7;
    border: none;
    outline: none;
    color: #2b2d47;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#playerO{
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #ff9823d7;
    border: none;
    outline: none;
    color: #2b2d47;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
    

}

.header{
    color: #ff8f4f;
    font-family: verdana;
    margin: 3vh;
    text-align: center;
    font-size: 6rem;
    letter-spacing: 1vw;
    text-shadow: 1px 1px 1px #d6d6d6,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}

.show-score{
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.score{
    margin: 5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #585858;
      font-weight: lighter;
    transition: all 0.10s ease-out;
  
    font-size: 2rem;
    font-family: Verdana;
  color: #585858;
  font-weight:bolder;
  transition: all 0.10s ease-out;
  font-size: 40px;
     max-width: 100%;
     color: #ffedda;
     text-shadow: 1px 1px 1px #919191,
         1px 2px 1px #919191,
         1px 3px 1px #919191,
         1px 4px 1px #919191,
         1px 5px 1px #919191,
         1px 6px 1px #919191,
         1px 7px 1px #919191,
         1px 8px 1px #919191,
         1px 9px 1px #919191,
         1px 10px 1px #919191,
     1px 18px 6px rgba(16,16,16,0.4),
     1px 22px 10px rgba(16,16,16,0.2),
     1px 25px 35px rgba(16,16,16,0.2),
     1px 30px 60px rgba(16,16,16,0.4);
}

#xscore{
    color:#fffbc3;
}

#oscore{
    color: #ffa393 ;
}

.tile-container{
    display:grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    padding: 5vh;
    margin:0;
}

.tile{
    width: 150px; 
    height: 150px;
    border: 1px solid  #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

 


.tile.x,
.tile.o{
    cursor: not-allowed;
}

.tile.x::before,
.tile.x::after{
    background-color:#df5151 ;
 }

.tile.o::before{
    background-color: #ffa928 !important;
 }


.tile-container.x .tile:not(.x):not(.o):hover::before,
.tile-container.x .tile:not(.x):not(.o):hover::after{
    background-color: rgb(207, 205, 205);
}

 .tile.x::before,
 .tile.x::after,
 .tile-container.x .tile:not(.x):not(.o):hover::before,
 .tile-container.x .tile:not(.x):not(.o):hover::after{
    position: absolute;
    content: " ";
    width: calc(90px * .15);
    height: 90px;
 }

 .tile.x::before,
 .tile-container.x .tile:not(.x):not(.o):hover::before{
     transform: rotate(45deg);
 }

 .tile.x::after,
 .tile-container.x .tile:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.tile.o::before,
.tile.o::after,
.tile-container.o .tile:not(.x):not(.o):hover::before,
.tile-container.o .tile:not(.x):not(.o):hover::after{
   position: absolute;
   content: " ";
   border-radius: 50%;

}
/* hover effect of o outside line */
.tile.o::before,
.tile-container.o .tile:not(.x):not(.o):hover::before{
    width: 90px;
    height: 90px; 
    background-color: #ffc1c1;
} 


.win-prompt{
    height: 50vh;
    width: 50vw;
    position: fixed;
    top: 25%;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgb(119, 81, 0);
    justify-content: center;
    align-items: center;
    color: #ff7b00;
    font-size: 5rem;
    flex-direction: column;
    border-radius: 100px;
    display: none;
    font-family: verdana;
    font-weight: 700px;
    
}

.win-prompt.show{
    display: flex;
}

.win-text{
    padding-bottom: 5vh;
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
    font-size: 100px;
    font-family: Verdana;
    font-weight: 700px;
    display: flex;
    flex-direction: column;
 
}


.mainButtons{
    display: flex;
    justify-content: center;
}

.mainButtons.hidden{
    display: none;
}

.close,
#previous,
.reset,
#next{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    background-color: #ffffff;
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 30px;
    color: rgb(131, 59, 0);

}
#next.hide,
#previous.hide{
    display:none;
} 

.close{
    
    display: flex;
    flex-direction: column;
   
}

 .restart {
     border:rgb(119, 81, 0);
     background-color: #ffffff00;
 }